/*
Site: http://localhost/
*/

* {
    font-weight: 400;
}
b, strong {
    font-weight: 700;
}
body {
    background: #efefef;
}
.manialink a {
    color: #158cba;
}
.manialink a:hover {
    color: #3498DB;
}
.display-none {
    display: none !important;
}
.mania-header
{
    min-height: 250px;
}
.mania-menu
{
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
    text-align: center !important;
}
.mania-menu .nav-item
{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.padding-l-r{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.navbar-nav .nav-link
{
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: #2f2f2f 0 1px 0px;
}
.dropdown-item
{
    text-transform: capitalize;
    font-weight: 600;
    text-shadow: #2f2f2f 0 1px 0px;
}
.alert
{
    margin-bottom: 10px;
}
.mania-menu .dropdown-menu {
    border: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    background-color: #232527 !important;
    margin-top: 8px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    box-shadow: inset 0px 4px 2px rgba(0,0,0,0.05);

}
.mania-menu .dropdown-item
{
    min-height: 40px !important;
}
.mania-menu .dropdown-item:hover,
.mania-menu .dropdown-item:active,
.mania-menu .dropdown-item:focus
{
    color: #fff;
    text-decoration: none;
    background-color: #158cba;
    box-shadow: inset 0px -3px 1px rgba(0,0,0,0.1);
}
.card
{
    border-top: none !important;
    box-shadow: 0 4px 0px rgba(0,0,0,0.2) !important;
    border-radius: 5px;
}
.card-header
{
    border-bottom: none !important;
    box-shadow: inset 0px -4px 0px rgba(0,0,0,0.2);
}
.btn
{
    box-shadow: inset 0px -4px 0px 1px rgba(0,0,0,0.2);
    text-shadow: #2f2f2f 0 1px 0px;
    border:none !important;
    min-height: 50px;
    line-height: 30px;
    text-transform: uppercase;
}
.font-primary {
    color: #158cba !important;
}
.font-danger {
    color: #b71c1c !important;
}
.font-white {
    color: #FFF !important;
}
.btn:hover
{
    font-size: 16px;
    box-shadow: inset 0px -3px 0px rgba(0,0,0,0.2);
}
.btn-primary.disabled, .btn-primary:disabled
{
    background-color: #206fa7;
    border-color: #206fa7;
    font-size: 16px;
    box-shadow: inset 0px -3px 0px rgba(0,0,0,0.2);
}
.card {
    margin-bottom: 4px !important;
}
.card-header .h5,
.card-header .h6
{
    color: #FFF;
}
.card-header:first-child
{
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0 !important;
}
.card-header-text
{
    text-shadow: #2f2f2f 0 1px 0px;
}
.text-shadow
{
    text-shadow: #2f2f2f 0 1px 0px;
}
.text-border-default
{
    text-shadow: rgb(170, 170, 170) 2px 0px 0px, rgb(170, 170, 170) 1.75517px 0.958851px 0px, rgb(170, 170, 170) 1.0806px 1.68294px 0px, rgb(170, 170, 170) 0.141474px 1.99499px 0px, rgb(170, 170, 170) -0.832294px 1.81859px 0px, rgb(170, 170, 170) -1.60229px 1.19694px 0px, rgb(170, 170, 170) -1.97998px 0.28224px 0px, rgb(170, 170, 170) -1.87291px -0.701566px 0px, rgb(170, 170, 170) -1.30729px -1.5136px 0px, rgb(170, 170, 170) -0.421592px -1.95506px 0px, rgb(170, 170, 170) 0.567324px -1.91785px 0px, rgb(170, 170, 170) 1.41734px -1.41108px 0px, rgb(170, 170, 170) 1.92034px -0.558831px 0px;
}
.text-border-primary
{
    text-shadow: rgb(32, 111, 167) 2px 0px 0px, rgb(32, 111, 167) 1.75517px 0.958851px 0px, rgb(32, 111, 167) 1.0806px 1.68294px 0px, rgb(32, 111, 167) 0.141474px 1.99499px 0px, rgb(32, 111, 167) -0.832294px 1.81859px 0px, rgb(32, 111, 167) -1.60229px 1.19694px 0px, rgb(32, 111, 167) -1.97998px 0.28224px 0px, rgb(32, 111, 167) -1.87291px -0.701566px 0px, rgb(32, 111, 167) -1.30729px -1.5136px 0px, rgb(32, 111, 167) -0.421592px -1.95506px 0px, rgb(32, 111, 167) 0.567324px -1.91785px 0px, rgb(32, 111, 167) 1.41734px -1.41108px 0px, rgb(32, 111, 167) 1.92034px -0.558831px 0px;
}
.text-border-white
{
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}
#contorno-branco {
    -webkit-filter: drop-shadow(3px 1px 0 #fff) drop-shadow(-3px 2px 0 #fff) drop-shadow(0 -3px 0 #fff);
    image-rendering: pixelated;
}
.input-group
{
    min-height: 40px;
}
.min-h-300
{
    min-height: 300px !important;
}
.min-h-351
{
    min-height: 351px !important;
}
.min-h-321
{
    min-height: 321px !important;
}
.min-h-270
{
    min-height: 270px !important;
}
.min-h-250
{
    min-height: 250px !important;
}
.min-h-230
{
    min-height: 230px !important;
}
.min-h-210
{
    min-height: 210px !important;
}
.min-h-200
{
    min-height: 200px !important;
}
.min-h-180
{
    min-height: 180px !important;
}
.min-h-150
{
    min-height: 150px !important;
}
.min-h-130
{
    min-height: 130px !important;
}
.min-h-110
{
    min-height: 110px !important;
}
.min-h-50
{
    min-height: 50px !important;
}
.min-h-80
{
    min-height: 80px !important;
}
.imghd-card{
    background-position-x: center !important;
    background-position-y: center !important;
}
.imghd-card-r{
    background-position-x: right !important;
    background-position-y: center !important;
}
.imghd-card-l{
    background-position-x: left !important;
    background-position-y: center !important;
}
.imghd-card-b-l{
    background-position-x: left !important;
    background-position-y: bottom !important;
}
.imghd-card-b-r{
    background-position-x: right !important;
    background-position-y: bottom !important;
}
.imghd-card-t{
    background-position-x: center !important;
    background-position-y: 10px !important;
}
.imghd-card-t-l{
    background-position-x: left !important;
    background-position-y: 10px !important;
}
.imghd-card-t-r{
    background-position-x: right !important;
    background-position-y: 10px !important;
}

.footer-space{
    min-height: 20px;
    width: 100%;
}
.carousel-caption {
    right: inherit !important;
    bottom: inherit !important;
    top: 0px !important;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    left: 0px !important;
    padding-bottom: 0px;
    text-shadow: #2f2f2f 0 1px 0px;
    text-align: left !important;
    background: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.carousel-caption a{
    color: #fff !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 20px;
}
.carousel-caption h5 {
    color: #fff;
}
.card-block {
    padding: 15px;
}
.row .row {
    margin-right: -5px;
    margin-left: -5px;
}
.list-icons-img img {
    left: -50px;
}
.card .card-block .sub-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: inherit;
}
.list-icons-img .habbo-head {
    width: inherit !important;
    padding:0 !important;
}
.login-list-icons li{
    margin-left: 80px !important;
}
.login-list-icons img{
    margin-left: -30px !important;
}
.color-rank-0 {
    color: #C98910;
}
.color-rank-1 {
    color: #A8A8A8;
}
.color-rank-2 {
    color: #965A38;
}
.back-rank-0 {
    background-color: #C98910 !important;
}
.back-rank-1 {
    background-color: #A8A8A8 !important;
}
.back-rank-2 {
    background-color: #965A38 !important;
}
.home-perfil-bg {
    border-radius: 5px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-repeat: no-repeat;
}
.perfil-bg-user {
    height: min-content !important;
    left: 100px;
    top: 50px;
    position: absolute;
}
.btn-login {
    height: 80px !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 62px;
}
.btn-login:hover {
    height: 80px !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 62px;
}
.basic-list li {
    border-bottom: 1px dashed #ccc;
}
hr {
    border-top: 1px dashed rgba(0,0,0,.1);
}
.card-perfilbg {
    border-top-left-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-noborder {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.label-inverse-white {
    border: 1px solid;
    border-color: #fff;
    color: #fff !important;
}
.label-red {
    background-color: #fff;
    color: #e74c3c !important;
}