/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2017, 23:53:19
    Author     : Luan Martins
*/

*{
    padding:0; margin:0; border:0;
}
#menu{
    width:200px;
    height:50px;
    position: absolute;
    float: left;
    left:10px;
    top:10px;
    z-index: 9999999;
}

.btn_att_flash{
    display: block;
    width:46px;
    height:31px;
    background-image: url(http://i.imgur.com/KMNIoBF.png);
}.btn_att_flash:hover{
    transition: 0.1s;
    cursor: pointer;
    padding-right: 120px;
    position: relative;
    top:-1px;
    background-image: url(http://i.imgur.com/1oippaC.png);
}
.btn_racing{
    display: block;
    width:32px;
    height:32px;
    background-image: url(http://i.imgur.com/jc63p6U.png);
    position: relative;
    top:-1px;
}.btn_racing:hover{
    transition: 1s;
    cursor: pointer;
    background-image: url(http://i.imgur.com/jc63p6U.png);
}
.btn_telacheia{
    display: block;
    width:32px;
    height:32px;
    background-image: url(http://i.imgur.com/DMdDMAd.png);
    position: relative;
    top:-1px;
}.btn_telacheia:hover{
    transition: 1s;
    cursor: pointer;
    background-image: url(http://i.imgur.com/KcvGl86.png);
}

#flash{
    width:100%;
    height:100%;
    background: black; /* For browsers that do not support gradients */
    position: absolute;
    z-index: 999999;
}


#flash_text{
    width:460px;
    height:500px;
    position: relative;
    margin: auto;
    margin-top: 100px;
}
#flash_text h1{
    font-family: calibri;
    color: white;
    text-align: center;
}#flash_text p{
    font-family: calibri;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
#flash_text h2{
    margin-top: 20px;
    font-family: calibri;
    color: white;
    text-align: center;
}
.fechar_flash{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: #990033;
    border-radius: 2px;
    color: white;
    margin-left: 185px;
    cursor: pointer;
    text-decoration: none;
    font-family: calibri;
    border-bottom: 3px inset #cc0066;
}
#adsense_um{
    position: relative;
    margin: auto;
    z-index: 9998;
}#adsense_dois{
    position: relative;
    z-index: 9998;

    float: left;
    margin-top: 385px;
}
.container_hapixel_lateral{
    width:458px;
    height: 320px;
    top:-150px;
    position: absolute;
    float: left;
    background-image: url('http://i.imgur.com/E03W5wj.png');
    z-index: 9998;
    overflow: hidden;
}#propaganda_lateral{
    width:356px;
    height:280px;
    background: transparent;
    position: relative;
    left:85px;
    top:-60px;
}


