/*
Site: http://localhost/
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    font-size:12px;
    background: #2c2c2c;
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.2);
}
.footer .container {
    height: 70px;
    padding: 30px;
    overflow: hidden;
    padding-left: 130px;
    background-image: url("https://www.mania.gg/api/bodylg/iPlezier");
    background-position: left -50px;
    background-repeat: no-repeat;
}
.footer .text-muted {
    text-transform: uppercase;
    font-weight: 600 !important;
    text-shadow: #2f2f2f 0 1px 0px;
}