
.clearfix{
	clear:both;
}
#area_player{
	width:calc(100% - 200px);
	font-family:"Segoe UI",sans-serif;
}
#player{
	background-color:red;width:320px;
	float:left;
}
.player_min{
	background-image:url("../img/bg_2.png");
	width:160px;
	height:45px;
	position:absolute;
	left:80px;
	top:-45px;
	transition:all 0.5s;
}
#player.minimize .player_min{
	top:0px;
}
.player_min .guy{
	background-image:url("../img/guy.png");
	width:31px;
	height:30px;
	float:left;
	margin:10px 8px;
	margin-bottom:0;
}
.player_min .txt{
	height:40px;
	line-height:40px;
	color:#FFFFFF;
	font-size:10px;
	text-shadow:0 1px 2px rgba(0,0,0,0.3);
	text-align:left;margin-top:2px;
}
.player_min .handle{
	width: 16px;
    height: 15px;
	position:absolute;
	right:34px;
	top:11px;
	cursor: e-resize;
    color: #FFF;
    background-color: #333;
    border-radius: 5px;
    padding: 6px;
}
.player_min .open{
	background-image:url("../img/open.png");
	width:19px;
	height:20px;
	position:absolute;
	right:12px;
	top:10px;
	cursor:pointer;
}
.player_min .open:hover{
	background-position:center;
}
.player_min .open:active{
	height:19px;
	top:11px;
	background-position:bottom;
}
.player{
	background-image:url("../img/bg.png");
	width:320px;
	height:91px;
	position:absolute;
	float:left;
	transition:all 0.5s;
	top:0px;
}
#player.minimize .player{
	top:-91px;
}
.player .chair{
	background-image:url("../img/chair.png");
	width:33px;
	height:25px;
	margin-left:19px;
	margin-top:41px;
	float:left;
	position:relative;
}
.player .chair:before{
	content:"";
	background-image:url("../img/chair_2.png");
	width:33px;
	height:25px;
	position:absolute;
	left:0;
	top:0;
}
.player .chair .habbo{
	width:33px;
	height:56px;
	margin-left:3px;
}.player .chair .cabeca{
	width:54px;
	height:62px;
	margin-top:-45px;
	margin-left:-10px;
	margin-bottom:-46px;
	position:relative;
	z-index:2;
}
.player .btn{
	background-image:url("../img/button.png");
	width:52px;
	height:52px;
	float:left;
	margin-left:18px;
	margin-top:16px;
}
.player .btn .play{
	background-image: none !important;
	background-position:left top;
	width:20px;
	height:30px;
	float:left;
	margin-left: 15px;
    margin-top: 13px;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
	background-color:#2b2d2d;
	border:0;
}
.player .btn .play:hover{
	color: #e2e2e2;
}
.player .btn .pause{
	background-image: none !important;
	background-position:right top;
	width:20px;
	height:30px;
	float:left;
	margin-left: 15px;
    margin-top: 13px;
	font-size: 26px; 
	color: #fff;
	cursor: pointer;
	background-color:#2b2d2d;
	border:0;
}
.player .btn .pause:hover{
	color: #e2e2e2;
}
.player .separa {
    background-color: #BBBBBB;
    width: 1px;
    height: 52px;
    float: left;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 18px;
    opacity: 0.4;
}
.player .info{
	background-repeat:no-repeat;
	background-position:2px center;
	width:100px;
	max-width:100px;
	padding-left:24px;
	height:19px;
	line-height:19px;
	color:#FFFFFF;
	font-size:12px;
	text-shadow:0 1px 2px rgba(0,0,0,0.3);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	float:left;margin-top:4px;
}
.player .music{
	background-image:url("../img/music.png");
	margin-top:10px;
}.player .room{
	background-image:url("../img/room.png");
	background-position:left center;
}
.player .loc{
	background-image:url("../img/loc.gif");
}.player .listeners{
	background-image:url("../img/listeners.png");
}
.player .handle{
	width: 16px;
    height: 15px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    cursor: e-resize;
    color: #FFF;
    background-color: #333;
    border-radius: 5px;
    padding: 6px;
}
.player .close{
	background-image:url("../img/close.png");
	width:19px;
	height:20px;
	position:absolute;
	right:12px;
	top:10px;
	cursor:pointer;
}
.player .close:hover{
	background-position:center;
}
.player .close:active{
	height:19px;
	top:11px;
	background-position:bottom;
}
.player .site {
	background-image: url("../img/pedidos.fw.png");
	width: 36px;
	height: 31px;
	position: absolute;
	right: 10px;
	top: 35px;
	cursor: pointer;
}